<form [formGroup]="form">
  <div class="loan-card-form-row">
    <mat-form-field>
      <mat-label>Choose type of loan</mat-label>
      <mat-select formControlName="loanType">
        <mat-option *ngFor="let loan of typesOfLoan" [value]="loan.loanType"
          >{{ loan.loanType }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="loan-card-form-row">
    <mat-form-field>
      <mat-label> Amount </mat-label>
      <input
        matInput
        type="text"
        mvndrMatCurrencyFormat
        [allowNegative]="false"
        [currencyCode]="'EUR'"
        value="loanAmount"
        formControlName="loanAmount"
      />
    </mat-form-field>
  </div>
  <div class="loan-card-form-row">
    <mat-form-field>
      <mat-label>Payback time in years </mat-label>
      <input
        matInput
        type="number"
        formControlName="years"
        placeholder=""
        required
      />
    </mat-form-field>
  </div>
</form>
